@model EpiserverSite_CompanyIntranet.Models.Blocks.TeaserBlockType
<div>
    <h1>@Html.PropertyFor(x => x.Heading)</h1>
    <div>@Html.PropertyFor(x => x.TeaserImage)</div>
    <h2>@Html.PropertyFor(x => x.TeaserText)</h2>
    <p>@Html.PropertyFor(x => x.TeaserBody)</p>
</div>