@model EpiserverSite_CompanyIntranet.ViewModel.StartDetailsComment
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div> 
        @Model.comment.Text
    </div>
</body>
</html>
