@model EpiserverSite_CompanyIntranet.Models.Pages.StartPageType

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Start Page
    </div>
</body>
</html>
